@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --command-black: #0a0a0b;
  --tactical-teal: #00f5ff;
  --alert-orange: #ff8a00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--command-black);
  color: var(--tactical-teal);
  font-family: "JetBrains Mono", ui-monospace, monospace;
}
